bin/
obj/
packages/
.nuget/NuGet.exe
*.dll
*.pdb
*.suo
Nuget.exe
SitefinityWebApp/App_Data/Sitefinity/Configuration/*
!SitefinityWebApp/App_Data/Sitefinity/Configuration/StartupConfig.config
SitefinityWebApp/App_Data/Sitefinity/Logs/*
*.lic
*.Cache
/.vs
/SitefinityWebApp/App_Data
/License.log
/Telerik.Sitefinity.AmazonCloudSearch/Telerik.Sitefinity.AmazonCloudSearch.csproj.user